<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/axios.js"></script>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="login">
    用户名<input type="text" v-model="username">
    密码<input type="text" v-model="password">
    <input type="button" value="登录" @click="send()">
    <br>
    尚无账号？<input type="button" value="注册" @click="toRegister()">
</div>
<script>
    new Vue({
        el:"#login",
        data:{
            username:null,
            password:null,
            listUrl:null
        },
        methods:{
            send:function (){
                let user={};
                user.method="login";
                user.username=this.username;
                user.password=this.password;
                let userString = JSON.stringify(user);
                console.log(userString);
                axios.post("http://localhost:8080/week4/BaseServlet",userString).then(
                    (result)=>{
                        // alert(result.data);
                        if(result.status===200 && result.data.code === 1){
                            window.location.href="http://localhost:8080/week4/homepage.html";
                        }else if(result.status===200 && result.data.code === 0){
                            alert("登录失败，请重试");
                        }
                    }
                )
                },
            toRegister:function(){
                window.location.href="http://localhost:8080/week4/register.html";
            }
            }
        }
    )
</script>
</body>
</html>