<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加课程</title>
    <script src="js/axios.js"></script>
    <script src="js/vue.js"></script>
</head>
<body>
<h4>添加课程</h4>
<div id="addCourse">
    课程名称：<input type="text" v-model="courseName"><br>
    课程介绍：<input type="text" v-model="courseDescription"><br>
    开课时间：<input type="datetime-local" v-model="courseStartTime"><br>
    结课时间：<input type="datetime-local" v-model="courseEndTime"><br>
    报名人数限制：<input type="number" v-model="studentNumberLimitation"><br>
    <br>
    <input type="button" value="提交课程" @click="addCourse()">
</div>
</body>
<script>
    new Vue({
        el: "#addCourse",
        data: {
            courseName: null,
            courseID: null,
            courseDescription: null,
            courseStartTime: null,
            courseEndTime: null,
            studentNumberLimitation: null,
            visible:{
                addReturn:false
            }
        },
        methods: {
            uploadNewLesson(){
                let newLesson = {};
                newLesson.chapterName = this.$refs.inputChapterName;
                newLesson.lessonName = this.$refs.inputLessonName;
                newLesson.method="addNewLesson";
                axios.post("http://localhost:8080/week5/BaseServlet",newLesson).then(
                    (result)=> {
                        console.log(result.data);
                    }
                );
                const file = this.$refs.lessonVideo.files.file[0];
                const formData = new FormData();
                formData.append(file);
                axios.post("http://localhost:8080/UploadServlet",formData, {
                    "Content-Type": "multipart/form-data"
                }).then(
                    (result)=>{
                        console.log(result.data);
                    }
                )
            },
            addCourse: function () {
                let data = {};
                data.courseName = this.courseName;
                data.courseDescription = this.courseDescription;
                data.courseStartTime = this.courseStartTime;
                data.courseEndTime = this.courseEndTime;
                data.studentNumberLimitation = this.studentNumberLimitation;
                data.method = "addCourse";
                axios.post("http://localhost:8080/week5/BaseServlet", data).then(
                    (result) => {
                        if (result.status === 200 && result.data.courseExecute > 0) {
                            alert("添加课程成功");
                        } else {
                            alert("添加失败，请重试")
                        }
                    }
                )
            },
        }
    })
</script>
</html>