<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程页面</title>
    <script src="js/axios.js"></script>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="coursePage">
    <h3>{{course.courseName}}</h3>
    <h5>ID:{{course.courseID}} 开始时间：{{course.courseStartTime}} 结束时间：{{course.courseEndTime}}</h5>
    <h5>课程介绍：{{course.courseDescription}}</h5>
    课程章节：
    <table border="1">
        <tr>
            <td>小节序号</td>
            <td>章名</td>
            <td>小节名</td>
        </tr>
        <tr v-for="(lesson, index) in course.lessons">
            <td>{{index}}</td>
            <td>{{lesson.chapterName}}</td>
            <td>{{lesson.lessonName}}</td>
            <td><input type="button" value="开始学习" @click="learnLesson(lesson)"></td>
        </tr>
    </table>
    <div v-if="lessonContextVisible==true">
        小节内容：<br>
        {{lesson}}<br><br>
        小节题目：<br>
    </div>
    <input type="button" value="展开讨论区" @click="Discussion()">
    <div v-if="visible.discussion==true">
        <h5>讨论区：</h5>
        <table border="1">
            <tr>
                <td>发送人ID</td>
                <td>发送人姓名</td>
                <td>发送时间</td>
                <td>内容</td>
            </tr>
            <tr v-for="(discussion,index) in discussions">
                <td>{{discussion.personID}}</td>
                <td>{{discussion.personName}}</td>
                <td>{{discussion.time}}</td>
                <td>{{discussion.message}}</td>
            </tr>
        </table>
        <form>
            <input type="text" v-model="toSend"><input type="button" value="发送" @click="sendDiscussion">
        </form>
    </div>
</div>
<script>
    new Vue({
        el: "#coursePage",
        data: {
            course: {
                courseID: null,
                courseDescription: null,
                courseName: null,
                courseStartTime: null,
                courseEndTime: null,
                lessons: [],
            },
            visible:{
                discussion:false
            },
            lessonContextVisible:false,
            lesson:null,
            problems:null,
            discussions:null,
            toSend:null,
            currentCourse:null
        },
        methods: {
            learnLesson(lesson) {
                let toPost= {};
                toPost.method="getLessonContent";
                toPost.courseID=this.course.courseID;
                toPost.lessonID=lesson.lessonID;
                axios.post("http://localhost:8080/week5/BaseServlet",toPost).then(
                    (result)=>{
                        // console.log(result.data);
                        this.lesson=result.data;
                        this.lessonContextVisible=true;
                    }
                );
                toPost.method="getLessonProblems";
                axios.post("http://localhost:8080/week5/BaseServlet",toPost).then(
                    (result)=>{
                        this.problems=result.data;
                    }
                )
            },
            sendDiscussion() {
                let toPost = {};
                toPost.method = "sendDiscussion";
                toPost.message = this.toSend;
                toPost.courseID = this.currentCourse.courseID;
                //发送一条讨论
                axios.post("http://localhost:8080/week5/BaseServlet", toPost).then(
                    (result) => {
                        console.log(result.data);
                        if (result.status === 200 && result.data.update > 0) {
                            this.$forceUpdate();
                            alert("发送成功");
                            this.toSend = null;
                        } else {
                            alert("发送失败，请重试");
                        }
                    }
                )
            },
            Discussion(){
                //1.请求课程对应的讨论区
                this.visible.discussion=true;
                let toPost3 = {};
                toPost3.method = "getDiscussion";
                toPost3.courseID = this.course.courseID;
                console.log(this.course);
                console.log(this.course.courseID)
                this.currentCourse = this.course;
                axios.post("http://localhost:8080/week5/BaseServlet", toPost3).then(
                    (result) => {
                        this.discussions = result.data;
                    }
                );
            }
        },
        mounted() {
            //1. 获得url中的courseID
            let url = window.location.href;
            let dz_url = url.split('#')[0];                //获取#/之前的字符串
            let cs = dz_url.split('?')[1];                //获取?之后的参数字符串
            let cs_arr = cs.split('=');                    //参数字符串分割为数组
            let courseID = cs_arr[1];
            //2. 根据courseID获取信息
            let toPost = {};
            toPost.method = "learnCourse";
            toPost.courseID = courseID;
            axios.post("http://localhost:8080/week5/BaseServlet", JSON.stringify(toPost)).then(
                (result) => {
                    // console.log(result.data);
                    //1. 解析课程响应结果
                    this.course.courseName = result.data.courseName;
                    this.course.courseID = result.data.courseID;
                    this.course.courseDescription = result.data.courseDescription;
                    this.course.courseID = result.data.courseID;
                    this.course.courseStartTime = result.data.courseStartTime;
                    this.course.courseEndTime = result.data.courseEndTime;
                }
            )
            //3. 根据课程ID获取课程内容
            let toPost2 = {};
            toPost2.method = "getLessons";
            toPost2.courseID = courseID;
            axios.post("http://localhost:8080/week5/BaseServlet", JSON.stringify(toPost2)).then(
                (result) => {
                    this.course.lessons = result.data;
                }
            );
        }
    })
</script>
</body>
</html>